# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.gcda
Makefile
*.gcov
*.gcda
*.gcno
*qmake_gcov
*.pro.user
Makefile.*
travis_qmake_gcc_cpp11_boost_test_gcov_oclint
travis_qmake_gcc_cpp11_boost_test_gcov_oclint_test
*.tar.gz
oclint-0.10.3/
